<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
</head>
<body>
<!--<h3>用户列表</h3>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>编号</th>-->
<!--        <th>姓名</th>-->
<!--        <th>生日（美国时间）</th>-->
<!--        <th>生日(中国时间)</th>-->
<!--    </tr>-->
<!--    <tr th:each="user:${users}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.name}"></td>-->
<!--        <td th:text="${user.birthday}"></td>-->
<!--        <td th:text="${#dates.format(user.birthday, 'yyyy-MM-dd mm:HH')}"></td>-->
<!--    </tr>-->
<!--</table>-->


<!--<ul>-->
<!--    &lt;!&ndash; 这一级是一级单选 &ndash;&gt;-->
<!--    <li style="list-style: none;font-size: 17px;" th:each="opern : ${opernPaper}">-->
<!--        <a style="color: black;font-weight:bold" th:text="${opernStat.count}"></a> <a-->
<!--            style="color: black;font-weight:bold" th:text="${opern.name}"></a>-->
<!--        &lt;!&ndash; 这是一级下的二级分类列表 （题目）&ndash;&gt;-->
<!--        <ul>-->
<!--            <li style="list-style: none;font-size: 15px;"-->
<!--                th:each="cate2:${opern.examPaperAnswerRecords}">-->
<!--                <a style="color: black;font-weight:bold" th:text="${cate2Stat.count}"></a>-->
<!--                <a style="color: black;font-weight:bold" th:text="${cate2.qstContent}"></a>-->
<!--                <ul>-->
<!--                    <li style="list-style: none;font-size: 13px; "-->
<!--                        th:each="cate3:${cate2.ExamQuestionOptions}">-->
<!--                        <a style="color: black" th:text="${cate3.optOrder}"></a> <a style="color: black"-->
<!--                                                                                    th:text="${cate3.optContent}"></a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--                <div th:if="${cate2.qstType}==5">-->
<!--                    <label style="margin-top: 3px;color: black;margin-left:10px">学生答案： <a-->
<!--                            style="color: black"-->
<!--                            th:text="${cate2.userAnswer}"></a></label>-->
<!--                    <div style="margin-left: 40px"><a>得分：</a><input oninput="changeNum()"-->
<!--                                                                      th:data-qstId="${cate2.qstId}"-->
<!--                                                                      id="score" type="number" name="score"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--        </ul>-->

<!--    </li>-->
<!--</ul>-->

<div></div>
<a th:each="script:${scripts}" th:text="${script.no}"> ???</a>

<span>
    <a>jkhm</a>
        <a th:each="script:${scripts}" th:text="${script.description}"></a>
    </span>

<a href="/demo">demo</a>
<form action="/reword" method="post">
    <input type="text" name="path">
    <button>reword</button>
</form>
</body>
</html>